.about-me {
    width: 60%;
    background-color: lavender;
    display: flex;
    justify-content: center;
    flex: 1;
    padding: 2rem 0;
    padding-left: 1.5rem;
    flex-direction: column;
}

.hero-photo {
    position: relative;
    width: 41%;
    height: 100%;
    overflow: hidden;
    background-image: url('/assets/img/author.jpg');
    background-size: cover;
}

.intro_text {
    font-size: 1.5rem;
    color: #a1a1a1;
}

.intro_title {
    margin-bottom: .5rem;
    font-size: 3.5rem;
    line-height: 1.2;
    color: #555454;
    font-weight: 600;
}

.intro_subtitle {
    font-size: 1.8rem;
    color: #555454;
    font-weight: 400;
}

.contacts {
    
    color: #a1a1a1;
    margin-top: 2rem;
    
}

.contacts_link {
    color: black;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.text-hero {
    font-size: 1.5rem;
    color: #555454;
    padding: 1rem;
}