.main_content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1200px;
    height: 500px;
    display: flex;
    border-radius: .1rem;
    background-color: rgb(229, 231, 231);
    box-shadow: 0.0625rem 0.0625rem 0.9375rem 0rem rgba(0, 0, 0, 0.5);
}