<footer class="footer">
    <div class="container">

        <div class="copyright">
            <div class="copyright_text">
                All content &copy; 2020
            </div>
        </div>
        
        <div class="social">
            <div class="soclial_text">
                Мои соц.сети
            </div>
            <a class="social_link" href="#" target="_blank">
                <svg class="social_icon">
                    <use xlink:href="#vk"></use>
                </svg>
            </a>

            <a class="social_link" href="#" target="_blank">
                <svg class="social_icon social_icon--in">
                    <use xlink:href="#in"></use>
                </svg>
            </a>

            <a class="social_link" href="#" target="_blank">
                <svg class="social_icon social_icon--insta">
                    <use xlink:href="#insta"></use>
                </svg>
            </a>
        </div>

    </div>
</footer>