<footer class="footer">
    <div class="container">

        <div class="copyright">
            <div class="copyright_text">
                &copy; 2020 Korolkov Ivan
            </div>
        </div>
        
        <div class="social">
            <div class="soclial_text">
                Мои соц.сети
            </div>
            <a class="social_link" href="https://vk.com/id276114464" target="_blank">
                <svg class="social_icon">
                    <use xlink:href="#vk"></use>
                </svg>
            </a>

            <a class="social_link" href="https://www.linkedin.com/in/иван-корольков-261b331aa/" target="_blank">
                <svg class="social_icon social_icon--in">
                    <use xlink:href="#in"></use>
                </svg>
            </a>

            <!-- <a class="social_link" href="#" target="_blank">
                <svg class="social_icon social_icon--insta">
                    <use xlink:href="#insta"></use>
                </svg>
            </a> -->
        </div>

    </div>
</footer>